.reportBuilder {
  .reportdashboardCardSection {
    padding: 1%;
    display: flex;
    max-height: 25vh;
    justify-content: space-between;
  }

  .reportDashboardCard {
    min-width: 30vh;
    height: 30vh;
    display: flex;
  }

  .reportDashboardCardHead {
    font-size: larger;
    font-weight: 400;
  }

  .reportDashboardCardValue {
    font-weight: 500;
    font-size: 64px;
  }
}
