@import url('../../../../variables.css');

.tni {
  .createInductionTrainingHeader {
    display: flex;
    padding: 16px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--dark-blue);
  }

  select {
    width: -webkit-fill-available;
    padding: 0.5rem;
  }

  .createInductionTrainingBody {
    padding: 16px;
  }

  .createInductionTrainingBodyrow {
    display: block;
    padding-bottom: 1.25rem;
  }

  .createInductionTrainingBodyrowlabel {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .saveButtonInductionTraining {
    display: flex;
    justify-content: end;
    padding-left: 1rem;
  }

  input {
    width: -webkit-fill-available;
    padding: 0.5rem;
  }

  .trainingRadioButton {
    display: flex;
  }

  .trainingRadioUploadButton {
    align-self: center;
  }

  button {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--dark-red);
  }

  .createMaterialBodyButton {
    display: flex;
    justify-content: flex-end;
  }

  .fromDate {
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  .toDate {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding-left: 30px;
  }

  .trainingname {
    padding-top: 2%;
    padding-left: 2%;
  }
}
