@import url('../../../variables.css');

.department {
  .form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  .create-department-button {
    display: flex;
    justify-self: end;
    /* position: absolute; */
    /* top: 10px;
    right: 10px; */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .create-department-button:hover {
    background-color: #0056b3;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
  }

  .form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-actions button[type='button'] {
    background-color: #6c757d;
    color: white;
  }

  .form-actions button[type='button']:hover {
    background-color: #5a6268;
  }

  .form-actions button[type='button']:nth-child(2) {
    background-color: #28a745;
  }

  .form-actions button[type='button']:nth-child(2):hover {
    background-color: #218838;
  }

  .dept-card {
    padding: 1%;
  }

  .createDepartmentDiv {
    display: flex;
    justify-content: end;
  }

  .createDepartment {
    border: 0;
    background-color: var(--blue);
    color: white;
    min-width: 20vh;
    min-height: 5vh;
    cursor: pointer;
  }

  .createDepartment:hover {
    border: 0;
    background-color: var(--bluehover);
    color: white;
    min-width: 20vh;
    min-height: 5vh;
    cursor: pointer;
  }
}
