@import url('../../../variables.css');

.conference {
  .createConferenceHeader {
    display: flex;
    padding: 16px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--dark-blue);
  }

  .createConferenceBody {
    padding: 16px;
  }

  .createConferenceBodyrow {
    display: block;
    padding-bottom: 1.25rem;
  }

  .createConferenceBodyrowlabel {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .saveButtonConference {
    display: flex;
    justify-content: end;
    padding-left: 1rem;
  }

  input {
    width: -webkit-fill-available;
    padding: 0.5rem;
  }

  select {
    width: -webkit-fill-available;
    padding: 0.5rem;
  }

  button {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--dark-red);
  }
}
