/* .admin{
    .subTextDescription{
        font-weight: 500;
        font-size: 64px;
        min-width: 30vh;
        height: 30vh;
        padding-left: 5%;
    }

    .subTextDeactiveDescription{
        font-weight: 500;
        font-size: 64px;
        min-width: 30vh;
        height: 30vh;
        padding-left: 5%;
        color: brown;
    }

    .subTextNewDescription{
        font-weight: 500;
        font-size: 64px;
        min-width: 30vh;
        height: 30vh;
        padding-left: 5%;
        color: #0FA4AF;
    }
} */
